@charset "UTF-8";

   * {
            font-family: 微軟正黑體;
        }

        body {
            background-image: url("image/01.png");
            background-attachment: fixed;
            background-size: 510px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .st1 {
            width: 450px;
            /* border-bottom: rgb(253, 211, 133) solid;  */
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        .sub {
            width: 450px;
            text-align: center;
            margin: auto;
            padding-top: 30px;
        }

        fieldset {
            margin: auto;
            width: 400px;
            border: 3px solid rgb(137, 161, 97);
            background-color: white;
            border-radius: 30px;
            padding: 20px;
            text-align: left;
        }

        h3 {
            color: rgb(71, 45, 33);
            font-weight: bolder;
            padding-top: 50px;
            padding-bottom: 8px;
            text-align: center;
        }